#wrapper {
    border: 1px solid black;
    width: 70%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#header {
    border: 1px solid black;
    height: 200px;
}

#left,
#right {
    outline: 1px solid black;
    width: 200px;
    height: 500px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#content {
    outline: 1px solid black;
    height: 500px;
    margin: 0px 200px;
}

#footer {
    border: 1px solid black;
    height: 200px;
}

.clearfix {
    clear: both;
}